.image-container {
  height: 200px;
  width: 300px;
  border: 2px dashed gray;
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
}

.upload-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  cursor: pointer;
}

.upload-container .upload-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 0.5em;
}

.selected-image-container {
  position: relative;
  flex: 1;
  margin: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
}

.selected-image-container .close-icon {
  position: absolute;
  top: -0.75em;
  right: -4em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}